*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111;
}/* style tweak 1 */
/* style tweak 2 */
/* style tweak 3 */
/* style tweak 4 */
/* style tweak 5 */
/* style tweak 6 */
